@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

html, body{
  font-family: 'Rajdhani', sans-serif;
  padding: 0;
  margin: 0;
  background: #222;
}

header{
  background: #060F65;
  position: sticky;
  top: 0;
  font-size: 20px;
}

header ul{
  float: right;
  list-style: none;
}

header li{
  float: left;
  margin-left: 10vw;
  text-decoration: none;
  padding-top: 60px;
}

header a{
  text-decoration: none;
  color: #E7E9FF;
  letter-spacing: 3px;
}

header a:hover{
  text-shadow: 0px 4px 5px #1524B0,
               0px -4px 5px #1524B0;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

.header{
  width: 80vw;
}

.logo{
  height: 150px;
  width: auto;
  padding: 15px;
  float: left;
}
