.discord{
  margin: auto;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  display: flex;
}


h2{
  color: #E7E9FF;
}

p a{
  text-decoration: none;
  color: #E7E9FF;
}

p a::selection{
  color: #D0D3FF;
}
