.slideshow{
  overflow: hidden;
  margin: auto;
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
}

.slideshow img{
  margin: 0;
  padding: 0;
  width: 100%;
  animation: slideshow 20s infinite;
  position: relative;
}

.buttons{
  display: flex;
  justify-content: center;
}

.buttons button{
  margin: 5px;
  border: none;
  border-radius: 15px;
  background: #1a1919;
  color: #979797;
}

@keyframes slideshow {
  0%{left: 0%; opacity: 0%;}
  1%{left: 0%; opacity: 100%;}
  20%{left: 0%;}
  25%{left: -100%;}
  45%{left: -100%;}
  50%{left: -200%;}
  70%{left: -200%;}
  75%{left: -300%;}
  95%{left: -300%; opacity: 100%;}
  96%{opacity: 0%;}
  100%{left: 0%;opacity: 0%;}
}
