.slideshow{
  overflow: hidden;
  margin: auto;
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
}

.slideshow img{
  width: 100%;
}

.buttons{
  width: 10px;
  height: 10px;
  position: fixed;
}

.buttons button{
  border: none;
  background: #E7E9FF;
  border-radius: 3px;
  text-decoration: none;
}

@keyframes slideshow {
  0% {left: 0;}
  20% {left: 0;}
  40% {left: -100%;}
  60% {left: -100%;}
  100% {left: 0;}
}
